.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-size: calc(3px + 3vmin);  

}

@media screen and (max-aspect-ratio: 1/1){
.App {
  font-size: calc(1px + 3vmin);
}

}









@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




